* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}

.container {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}

.sidebar{
    width: 15%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.button-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

button {
    width: 100px;
    height: 20px;
}

.task-page, .project-page {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.task-menu, .project-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.task-form {
    height: 500px;
    width: 500px;
    background-color: red;
}

.task-list {
    width: 100%;
    height: 100%;
}

.content {
    width: 85%;

}


.project-form {
    background-color: green;
    height: 500px;
    width: 500px;
}

.project-content {
    height: 100%;
    width: 100%;
}